*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1 ;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}
p{
    color:#fff;
    font-family: 'Kanit', sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 50px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    text-align: left;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px;
    color:#fff;
    font-family: 'Kanit', sans-serif;
}
.col-2 h2{
    font-size: 90px;
    line-height: 60px;
    text-align: center;
    margin:25px;
    color:black;
    font-family: 'Kanit', sans-serif;
}
.col-2 h3{
    font-size: 25px;
    line-height: 60px;
    margin:25px;
    color:black;
    font-family: 'Kanit', sans-serif;
}
.btm{
    display:inline-block;
    background: #ff1e00;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    transition: background 0.5s;
}
.btm:hover{
    background: rgb(41, 41, 41);
}
.header{
    background: #63320e    ;
    font-family: 'Kanit', sans-serif;
}
.header .row{
    margin-top: 70px 0;
}
.category{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 300px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Kanit', sans-serif;
}

.cursor_pointer {
    cursor: pointer !important;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.2s;
}
.col-4 img{
    width: 200px;
}
.pp{
    color:black;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.title::after{
    content: '';
    background: rgb(255, 0, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-10px);
}
.footer{
    background: #d2691e    ;
    color: red;
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'Kanit', sans-serif;
}
.footer p{
    color: white;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1 , .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;   
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1 ;
    text-align: center;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
    color: #555;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.copyright{
    text-align: center;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.menu-icon{
    width:28px;
    margin-left:20px;   
}

@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top:70px;
        left:0;
        background:black;
        width:100px;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display:black;
        margin-right: 50px;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color: red;
    }
    .menu-icon{
        display:black;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .cart-info p{
        display: none;
    }
}



.hidden {
    display: none !important;
}

.cart_area {
    position: relative;
}

.count_items_cart_area {
    position: absolute;
    top: 20px;
    right: -4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

.unit_items_cart {
    margin-top: -1.5px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #222;
}
